@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request to pay please cheack your albume list if it have eny albums to buy or not , thank you dear coustomer.</h2>
<ul>
    <li> <p> cheack your albume list if it have eny albums. </p>  </li>
    <li> <p>refreash this page and try agin.</p></li>
    <li> <p>Don't be upset, try again in a different way, and it will work.</p></li>

</ul>


